img{
    width: 100px;
}

@keyframes arrow {
    0%{left:0; transform: scaleX(1);}
    50%{left:1800px; transform:scaleX(1);}
    51%{left:1800px; transform:scaleX(-1);}
    100%{left:0px; transform:scaleX(-1);}
}


.snoopy-arrow{
    position: relative;
    animation: arrow 10s linear infinite;
}





